#Github Workflows

name: Demoblaze Automation

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write #Add push permission

jobs:
  run-automation-test:
    runs-on: ubuntu-latest

    steps:
    #download repository
    - uses: actions/checkout@v4
    
    #setup java
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Chrome
      uses: browser-actions/setup-chrome@v1.7.3

    #setup gradlew
    - name: Setup gradlew
      run: chmod +x gradlew

    #execute UI test
    - name: Execute UI Tests
      run: ./gradlew test

    #execute API test
    - name: Execute API Tests
      run: ./gradlew cucumberApi

    #archive test result for ui automation
    - name: Archive UI Cucumber Report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: UI Cucumber Report
        path: reports/ui/

    #archive test result for api automation
    - name: Archive API Cucumber Report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: API Cucumber Report
        path: reports/api/

    #deploy to github pages
    - name: GitHub Pages action
      if: always()
      uses: peaceiris/actions-gh-pages@v4.0.0
      with:
        PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PUBLISH_DIR: reports
